
{% extends 'base.html.twig' %}

{% block title "Gerer les types de documents" %}

{% block body %}

	<div class ='container mt-4'>
		<h3> Gestion des accords</h3>
		<hr class="my-7">
        {% for message in app.flashes('success') %}
         <div class="alert alert-success">
         {{ message}}
         </div>
        {% endfor %}
        <hr class="my-7">
        <p style='font-color:red'><h5>Nombre d'accords: {{nombre}}</h5></p>
         <hr class="my-7">
      <div id=""  style="overflow-y:scroll; overflow-x:hidden; height:400px;">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Intitule</th>
                    <th>Type</th>
                    <th>Langue</th>
                    <th>Lieu</th>
                    <th>Etat accord</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for accord in accords %}
                <tr>
                    <td>
                        {{ accord.intitule }}
                    </td>
                    <td>
                        {{accord.sousTypeDocument.type}}
                    </td>
                     <td>
                      {{accord.sousTypeDocument}}
                    </td>
                    <td>
                        {{ accord.lieuSignature }}
                    </td>
                    <td>
                        {{ accord.etatAccord }}
                    </td>
                    <td>
                        <a href="{{ path('admin.accord.edit', {id: accord.id})}}" class='btn btn-secondary'>Editer</a>
                        <form method='post' action = "" style="display:inline-block" onsubmit="return confirm('Etes-vous vraiment sure ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
	
    </div>
	<div class='text-right' >
     <hr class="my-7">
        <hr class="my-7">
    <a href="{{path("admin.accord.new")}}" class="btn btn-primary">Ajouter un accord</a>
        <hr class="my-7">
        <hr class="my-7">
        <hr class="my-7">
        <hr class="my-7">
        <hr class="my-7">
    </div>
</div>

{% endblock %}